aiohttp==3.7.3
arxiv==0.5.3
async-timeout==3.0.1
attrs==20.3.0
certifi==2020.12.5
chardet==3.0.4
feedparser==6.0.2
googletrans==4.0.0rc1
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.12.22
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
joblib==1.0.0
mecab-python3==0.996.5
multidict==5.1.0
numpy==1.19.5
requests==2.25.1
rfc3986==1.4.0
scikit-learn==0.24.1
scipy==1.6.0
sgmllib3k==1.0.0
six==1.15.0
sklearn==0.0
slackbot==1.0.0
slackclient==2.9.3
slacker==0.14.0
sniffio==1.2.0
threadpoolctl==2.1.0
typing-extensions==3.7.4.3
urllib3==1.26.2
websocket-client==0.44.0
yarl==1.6.3
